<header>
    <nav>
        <section class="wrapper">
               <a href="/"><img  src="/images/logo-matching.png" alt="logo-application"></a> 
            
        </section>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/matchmaker">Find Matches</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        
    </nav>
</header>