<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>About Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="about-page">

        <h1>This is the about page</h1>

    </section>


    <%- include('includes/footer.ejs') -%>
</body>