<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>About Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="about-page">

        <h1>This is the about page</h1>
        <p>In deze applicatie kan je jouw perfecte festival liefde/vriend(in) vinden.
            Doormiddel van een like/matching feature kan je door profielen heen "Swipen"
            om zo de perfecte match te vinden voor jouw volgende festival. Je ziet van
            iedereen een profiel met daarbij zijn/haar favoriete genres, festivals en
            lievelingsnummers.
        </p> 
        <p>
            Als jij denkt met diegene een goede klik te hebben door de
            dezelfde muzieksmaak te hebben, dan kan jij diegene liken, als zij/haar jou 
            terug "liked" dan hebben jullie een match! Als het klikt met elkaar kan jij het
            eerstvolgende festival samen beleven!
        </p>

    </section>


    <%- include('includes/footer.ejs') -%>
</body>