<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>Contact Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>
    

    <section class="contact-page">

        <h1><%- text -%></h1>
        <h2>Here you can ask a question</h2>

    </section>

    <%- include('includes/footer.ejs') -%>
</body>