<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="index-page">

        <h1>Hi Ronan,</h1>
        <h2>Welcome to the new dating app for festival lovers!</h2>
        <p>With this application you can find your perfect match for your
            next festival in no time!
        </p>

        <a class="btn-find-match" href="/matches">Find your perfect match!
        </a>

    </section>
    

    <%- include('includes/footer.ejs'); -%>
</body>