<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>Ejs template</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <h1>Hallo Ronan</h1>
        <p>Dit is de goede pagina</p>

        
        
    <%- include('includes/footer.ejs') -%>

</body>