<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="index-page">

        <h1>Hi Ronan</h1>
        <h2>Welcome to the new dating app for festival lovers!</h2>

    </section>
    

    <%- include('includes/footer.ejs') -%>
</body>