<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf5pko.css">    
    <title>Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="index-page">

        <h1>Hi Ronan,</h1>
        <h2>Welkom op de nieuwe dating-app voor festival liefhebbers!</h2>
        <p>Heb jij altijd al moeite met het zoeken van een festival maatje?
            Dan is deze app zeker wat voor jou!
        </p>
        <p>
            Met deze app heb je binnen no-time een perfecte match gevonden voor
            jouw volgende festival! Laat de muziek maar beginnen en dans tot de zon op komt!
        </p>

        <a class="btn-find-match" href="/matches">Find your perfect match!
        </a>

    </section>
    
    <%- include('includes/footer.ejs'); -%>
</body>