<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>My profile Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>


    <section class="profile-page">

        <h1>Hi, <%- text -%></h1>
        <section>
            
        </section>

        <h2>My matches:</h2>

    </section>


    <%- include('includes/footer.ejs') -%>
</body>