<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>My profile Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>


    <section class="profile-page">

        <h1>Hi, <%- text -%></h1>

        <section class="my-profile">

            <img src="/images/profile-picture.jpg" alt="Profielfoto Ronan" >

            <ul label="About Me">
                
                <li>28</li>
                <li>Amsterdam</li>
                <li>The Netherlands</li>
            </ul>
            
            <ol label="Genres">
                <li>Techno</li>
                <li>Industrial</li>
                <li>Hip-Hop</li>
            </ol>

            <ol label="Festivals">
                <li>Rotterdam Rave</li>
                <li>Soenda</li>
                <li>Smeerboel</li>
                <li>Verknipt</li>
                <li>Woo Hah</li>
            </ol>

        </section>

        <h2>My matches:</h2>
        

    </section>


    <%- include('includes/footer.ejs'); -%>
</body>