body{
    background-color: rgb(240, 240, 240);
    font-family: "neuzeit-grotesk", Verdana, Geneva, Tahoma, sans-serif;;
    margin: 0;
}

/* Header Styling */

nav{
    background-color: rgb(30, 30, 30);
}

.wrapper img{
    width: 7.5em;
    height: 3.1em;
    margin-top: .8em;
    margin-left: 5%;
    float: left;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1.5em 1em;
    margin-top: 0;
    justify-content: flex-end;
}

nav li a {
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    letter-spacing: .05em;
    margin: 0 1em;
    padding: 0 .5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

nav li a:before, nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: .2em;
    bottom: -.2em;
}
  
nav li a:before {
    left: 0;
    transition: 0.5s;
}
  
nav li a:after {
    background: rgb(255, 55, 95);
    right: 0;
}
  
nav li a:hover:before {
    background: rgb(255, 55, 95);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

/* Body Styling */

h1{
    font-size: 2em;
}

.index-page,
.matches-page,
.profile-page,
.about-page,
.contact-page,
.matchmaker-page,
.error-page {
    padding: 2em;
    margin-bottom: 10em;
}

/* Home Page Styling */

.btn-find-match {
    align-items: center;
    background: linear-gradient(135deg, rgb(251, 55, 94) 0%, rgb(255, 143, 206) 100%);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: .5em;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    line-height: 1em;
    padding: 1em 1.5em;
    margin-top: 2em;
    max-width: 15em;
    text-decoration: none;
    cursor: pointer;
}

/* Find Matches Styling */

.potential-match  {
    height: 40em;
    display: flex;
    justify-content: center;
    padding: 2em 4em;
    position: relative;
} 

.match-card {
    position: absolute;
    display: flex; 
    flex-direction: column;
    border: .1em solid grey;
    background-color: #eeeeee;
    height: 44em;
    width: 27.5em;
    border-radius: .5em;
    overflow: hidden;
    filter: drop-shadow(.2em .2em .4em rgba(26, 26, 26, 0.1));
}

.match-card h2 {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.match-card p {
    font-size: 1.1em;
    font-family: "neuzeit-grotesk", Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(86, 86, 86);
}

.track{
    display: flex;
    align-items: center;
    padding: .25em;
    margin-top: 1em;
    border-radius: .5em;
    border: .1em solid rgb(181, 181, 181);
}

.track img{
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    align-self: center;
    margin-left: .2em;
    cursor: pointer;
}

.track p{
    color: black;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: -.5em;
}

.match-card .like-button,
.match-card .dislike-button {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border: none;
    margin: 1em 0 2em 0;
    cursor: pointer;
}

.match-card .like-button img,
.match-card .dislike-button  img{
    width: 100%;
    height: auto;
}

.like-button:hover{
    transform: scale(1.1);
    transition: 1.1s;
    cursor: pointer;
}

.dislike-button:hover{
    transform: scale(.9);
    transition: 1.1s;
    cursor: pointer;
}

.match-card .image-container {
    width: 101%;
    height: 23em;
    overflow: hidden;
    margin-bottom: -1em;
}

.match-card .image-container img {
    width: 101%;
    height: auto;
    object-fit: cover;
    margin-top: -8em;
}

.profile-metadata{
    padding: 1em;
}

.profile-metadata p {
    margin-bottom: .5em;
    font-size: 1.3em;
}

.profile-metadata span{
    font-weight: 900;
}

/* Media Query's voor responsiveness */

@media screen and (max-width: 650px) {

    .match-card{
        width: 25em;
        height: 37.5em;
    }

    .match-card .image-container{
        width: 100%;
        height: 14em;
    }

    .match-card .image-container img{
        margin-top: -8em;
        height: auto;
    }

    .match-card .like-button,
    .match-card .dislike-button {
        width: 5em;
        height: 5em;
    }

    .profile-metadata h2{
        font-size: 1.5em;
        padding-top: -2em;
    }

    .profile-metadata p{
        font-size: 1.2em;
    }
    
}

/* My Profile Styling */

.my-profile{
    margin-bottom: 4em;
}

.edit-profile{
    width: 2em;
    height: 2em;
    opacity: .5;
    float: right;
    cursor: pointer;
}

.my-profile img{
    height: 18em;
    border-radius: 50%;
}

.my-profile-metadata p{
    font-size: 1.2em;
}

.my-profile-metadata h2{
    margin-top: 0;
}

.profile-track{
    display: flex;
    align-items: center;
    max-width: 30em;
    padding: .25em;
    margin-top: 1em;
    border-radius: .5em;
    border: .1em solid rgb(181, 181, 181);
}

.profile-track p {
    font-weight: bold;
}

.my-profile-metadata span{
    font-weight: 900;
}

.panner{
    display: flex;
}

.edit-audio-file{
    align-self: center;
}

/* Media Query's voor responsiveness */

@media screen and (min-width: 1150px) {

    .my-profile{
        display: flex;
        justify-content: space-between;
    }

    .my-profile-metadata{
        align-self: center;
    }

    .edit-audio-file{
        padding: 1em;
    }
    
}

.my-matches-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.my-matches-container h3{
    font-size: 1.5em;
}

article{
    padding: 1em;
    max-width: 100%;
}

.my-matches-container button{
    background: linear-gradient(135deg, rgb(251, 55, 94) 0%, rgb(255, 143, 206) 100%);
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    border-radius: .5em;
    font-size: 1.2em;
    line-height: 1em;
    padding: 1em 2.5em;
    cursor: pointer;
}

.my-matches-container button:hover{
    background-position: 9em;
    transition: .7s;
}

.my-matches-container img{
    border-radius: 50%;
    width: 13em;
    height: 13em;
}

.index-page p,
.about-page p,
.error-page p{
    max-width: 60%;
    font-size: 1.4em;
}

/* Media Query's voor responsiveness */

@media screen and (max-width: 750px) {

    .my-matches-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .edit-audio-file{
        margin-left: 0;
        padding-left: 0;
    }

    .my-matches-container button{
        font-size: .8em;
        padding: 1em 1.5em;
    }

    .my-matches-container img{
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    .index-page p,
    .about-page p{
        max-width: 80%;
        font-size: 1.2em;
    }    
}

/* Footer Styling */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: rgb(30, 30, 30);
    text-align: center;
}

footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.inner {
    margin-bottom: 4em;
}