body{
    background-color: rgb(240, 240, 240);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header Styling */

nav{
    background-color: rgb(30, 30, 30);
}

.wrapper img{
    width: 50px;
    height: 50px;
    margin-top: .8em;
    margin-left: 5%;
    float: left;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1.5em 1em;
    margin-top: 0;
    justify-content: flex-end;
}

nav li a {
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

nav li a:before, nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
}
  
nav li a:before {
    left: 0;
    transition: 0.5s;
}
  
nav li a:after {
    background: rgb(255, 55, 95);
    right: 0;
}
  
nav li a:hover:before {
    background: rgb(255, 55, 95);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}



/* Body Styling */

h1{
    font-size: 3em;
}

.potential-match img{
    width: 180px;
    height: 250px
}

.profile-match{
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    margin-bottom: 1em;
}

.profile-metadata{
    margin-left: 1em;
}

.radio-buttons{
    display: flex;
    flex-direction: end;
}

.like-button img,
.dislike-button img{
    width: 50px;
    height: 50px;
}

div.like-button,
div.dislike-button{
    align-self: center;
    justify-content: flex-end;
    padding: 2em;
}

.index-page,
.matches-page,
.profile-page,
.about-page,
.contact-page,
.matchmaker-page {
    padding: 2em;
}

.about-page p{
    max-width: 70%;
}

.my-profile{
    border: 1px solid grey;
    display: flex;
}

.my-profile img{
    width: 200px;
    height: 260px;
}

.my-profile ul{
    list-style: none;
}

.my-profile ol{
    list-style: none;
}

.my-profile ul li,
.my-profile ol li{
    font-size: 1.2em;
}

.my-profile ul li,
.my-profile ol li{
    margin-top: .8em;
}

.my-profile ul::before,
.my-profile ol::before {
    content:attr(label);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}


/* Footer Styling */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: rgb(30, 30, 30);
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

.inner {
    margin-bottom: 4em;
}